@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eaeaea !important;
}

.ctn-main{
    width: 90%;
    margin: 30px auto;
    font-family: 'Calibri';
}

.appform-view{
    font-size: 16px;
    margin-bottom: 30px;
    width: 90%;
    margin: 50px auto;
}

.appform-view .sec-title{
    text-decoration: underline;
    font-weight: 600;
}

.page1, .page2{
    background-color: #fff;
    border: 1px solid;
    width: 8.5in;
    height: auto;
    padding: 40px;
    margin: 0 auto 10px;
}

.header{
    display: flex;
    gap: 20px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

.header img{
    width: auto;
    height: 40px;
}

.app-title{
    text-align: center;
    margin: 20px 0 10px;
}

.personal-info .psec1{
    display: flex;
    gap: 100px;
}

.psec1-info{
    display: flex;
    gap: 50px;
}

.personal-info .psec2{
    display: flex;
    gap: 10px;
}

.psec2 img{
    width: 1in;
    height: 1in;
}

.fvalue, .elabel span{
    font-weight: 600;
}

.esec2 .elabel{
    padding-bottom: 7px;
}

.educbg-info{
    display: flex;
    gap: 10px;
}

.educbg-info p{
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0;
    text-align: center;
}

.group{
    display: flex;
    gap: 10px;
}

.page1 .table, .page2 .table{
    width: 100%;
    border-collapse: collapse;
}

.table td, .table th {
    border: 1px solid black;
}

.table tr td {
    padding: 2px;
}

.table td .flabel, .fvalue, .elabel, .evalue{
    font-size: 14px;
}

.educbg .esec2{
    padding: 5px;
}

.table thead tr th{
    font-size: 13px;
    padding: 5px;
}

.table thead tr th span{
    font-size: 11px;
}

.table tbody tr td{
    font-size: 13px;
}

#familyTableBody td{
    text-align: center;
}

.other-info p{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    text-decoration: underline;
}

.other-info span{
    font-size: 14px;
    text-align: justify;
}

.signature{
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

#nameDate{
    padding-top: 30px;
}

.sign{
    text-decoration: overline;
    font-weight: 600;
}

.page2 h2{
    text-align: center;
    padding-top: 20px;
}

.sketchome .sec-title{
    padding: 10px 0;
}

.sketchimg{
    width: 100%;
    height: 250px;
    border: 1px solid;
}

.instructions{
    font-size: 13px;
    padding-bottom: 10px;
}

.instructions ol li{
    margin-left: 10px;
}

#reqs{
    font-style: italic;
    font-weight: 600;
}

#deadline{
    font-weight: 600;
    text-decoration: underline;
}

.fillstaff{
    border-top: 1px solid;
}

.fillstaff .heading{
    font-weight: 600;
    font-size: 12px;
}

.table3{
    font-size: 13px;
}

.table3 tr td{
    padding: 0 10px;
}

#natureOfneeds input{
    margin-left: 10px;
}

.table3 textarea{
    width: 100%;
    resize: none;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 3px;
    font-family: 'Calibri';
}

.page2 .group{
    gap: 10px;
    padding-top: 10px;
}

.group input{
    /* border-radius: 10px; */
    border: none;
    border-bottom: 1px solid;
    outline: none;
    font-size: 14px;
    padding: 3px;
    font-family: 'Calibri';
}

.group input[type="text"]{
    width: 150px;
}

.groupa .slabel{
    padding-bottom: 5px;
}

.page2 .groupa{
    width: 580px;
}

.groupa .slabel, .groupb1 .slabel{
    font-size: 14px;
}

.groupb1{
    display: flex;
    gap: 3px;
}

.groupb1 .group1, .groupb1 .group2{
    padding-bottom: 5px;
}

.note{
    font-style: italic;
    font-size: 12px;
    margin-bottom: 20px;
}