@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #eaebea;
}

.registration-form{
    width: 90%;
    margin: 50px auto;
}

.btn-back{
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #80af81;
    color: #fff;
    border: none;
    transition: 0.3s ease;
    font-size: 15px;
}

.btn-back:hover{
    background-color: #8eb79c;
}

.header{
    margin-top: 20px;
}

.logo{
    height: 40px;
    width: auto;
}

.header h6{
    color: #1a5319;
}

.registration-form h1{
    width: 100%;
    color: #2e7c55;
    border-top: 3px solid #8eb79c;
    border-bottom: 3px solid #8eb79c;
    margin: 50px 0 0;
}

.registration-form .description{
    font-size: 15px;
    color: #1a5319;
}

.custom-fieldset {
    border: 2px solid #1a5319;
    padding: 25px;
    border-radius: 10px;
    position: relative;
    margin: 40px 0px;
}

.custom-fieldset legend {
    color: #eaebea;
    font-size: 17px;
    font-weight: bold;
    width: auto;
    padding: 0 10px;
    margin-bottom: 0;
    margin-left: 20px;
    border-bottom: none;
    border-radius: 10px;
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: #1a5319;
}

.form{
    width: 95%;
    margin: auto;
    font-size: 15px;
}

.row{
    width: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 10px; 
    align-items: center;
    margin: 20px 0;
}

.row-checkbox{
    margin: 20px 50px;
    font-size: 15px;
}

.row-checkbox input[type="text"]{
    width: 500px;
    padding: 5px;
    margin: 0 20px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    transition: all border-color 0.3s ease-in-out;
}

.row input, .row select {
    width: 100%;
    padding: 5px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

input:focus, select:focus{
    border-color: #2e7c55
}

.agreement{
    display: flex;
    align-items: center;
    padding: 0 50px;
    font-size: 15px;
    margin-bottom: 20px;
}

.agreement input[type="checkbox"], .row-checkbox input[type="checkbox"]{
    transform: scale(1.5);
    margin-right: 20px;
}

.register{
    text-align: right;
}

.btn-register{
    padding: 10px 80px;
    border-radius: 10px;
    background-color: #8bc34a;
    color: #fff;
    border: 1px solid #898989;
    transition: 0.3s ease;
}

.btn-register:hover{
    background-color: #1a5319;
}

@media (max-width: 768px) {
    .custom-fieldset legend{
        font-size: 16px;
    }
    .form, .row-checkbox, .registration-form .description, .agreement{
        font-size: 14px;
    } 
    .registration-form .custom-fieldset legend{
        margin-left: 0;
    }
    .row {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }
    .row input{
        width: 100%;
    }
    .row-checkbox{
        margin: 20px 30px;
    }
    .row-checkbox input[type="text"]{
        width: 100%;
        margin: 20px;
    }
    .agreement{
        padding: 0;
    }
    .register{
        text-align: center;
    }
}
@media only screen and (max-width: 1024px) {
    .logo{
        height: 30px;
    }
    .header h6{
        font-size: 15px;
    }
    .registration-form h1{
        font-size: 2rem;
    }
    .form .row{
        grid-template-columns: 200px 1fr;
    }
}
@media only screen and (max-width: 1200px) {
    .row{
        grid-template-columns: 200px 1fr;
    }
}