* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ctn-main{
    padding: 20px 90px;
}

.ctn-main .goback{
    text-decoration: none;
    color: #1a5319;
    font-size: 1.1rem;
}

.sub-title{
    color: #1a5319;
    font-weight: bolder;
    font-size: 1.6rem;
    margin: 30px 0;
}

.grade-form{
    padding: 20px;
}

.grade-form input{
    border: 1px solid darkgray;
    margin-right: 10px;
    border-radius: 10px;
}

.gwa, .file{
    padding: 5px;
    margin-bottom: 20px;
    width: 270px;
}

.grade-stat{
    background-color: #c1ff72;
    font-weight: bold;
    padding: 10px;
    width: 150px;
    text-align: center;
    float: right;
    border-radius: 10px;
    margin: 0 30px;
}

.grades-view{
    width: 70%;
    margin: auto;
    border: 1px solid #fff;
}

.grades-info{
    border: 1px solid #8eb79c;
    background-color: #eaebea;
    border-radius: 10px;
    margin: 50px 30px;
    padding: 20px 30px;
}

.grades-info h4{
    background-color: #1a5319;
    color: #d6efd8;
    font-weight: bold;
    padding: 10px;
}

.grades-info .info{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px; 
    align-items: center; 
    padding: 10px;
}

.label {
    text-align: left; 
    margin-bottom: 5px;
}

.grades-info span{
    color: #1e5430;
    font-weight: bold;
    margin-left: 20px;
}

.grades-img img{
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .ctn-main{
        padding: 20px 45px;
    }
    .status{
        margin-top: 30px;
        font-size: 1rem;
    }
    .ctn-table, .grade-form{
        font-size: 1rem;
    }
    .grade-stat, .grades-info h4{
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 1024px) {
    .grades-info{
        margin: 50px 0;
    }
    .grade-stat{
        margin: 0;
    }
}
@media only screen and (max-width: 1200px) {
    .grades-view{
        width: 90%;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lte{
    margin: auto;
    width: 70%;
    padding: 50px;
    border-radius: 10px;
    background-color: rgb(191, 191, 191, .2);
    font-size: 1.1rem;
}

.date, .receipient, .lte-subject{
    margin: 50px 0;
}

.lte-subject{
    text-indent: 50px;
}

.salutation-lte, .lte-body{
    margin-bottom: 30px;
}

.closing-lte, .lte-reason, .file-upload{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.signature{
    border: 1px solid;
    width: 200px;
    padding: 30px;
    margin-bottom: 20px;
}

.submit-lte{
    margin: 50px;
}

.lte-form{
    background-color: rgb(191, 191, 191, .2);
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.lteform-title{
    padding: 20px 40px;
    background-color: #2e7c55;
    border-radius: 10px;
}

.lteform-title .form-heading, .form-desc{
    color: #fff;
}

.form-body{
    padding: 50px;
    font-size: 1.1rem;
}

.agreement{
    display: flex;
    align-items: center;
    padding: 0 50px;
    font-size: 1.1rem;
}

.agreement input[type="checkbox"], .lte-reason input[type="radio"]{
    transform: scale(1.5);
    margin-right: 20px;
}

.lte-reason{
    width: 90%;
    margin: auto;
}

.lte-reason .rad{
    margin-bottom: 20px;
}

.file-upload{
    margin: 10px 0 30px;
}

.file-upload input[type="file"]{
    margin:10px 0 30px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 2px 5px;
}

@media only screen and (max-width: 768px) {
    .status{
        margin-top: 30px;
        font-size: 1rem;
        gap: 15px;
    }
    .ctn-table, .table-title{
        font-size: 1rem;
    }
    .filter-btn{
        padding: 2px 15px;
        margin-bottom: 10px;
    }
    .lte{
        padding: 30px;
        font-size: 1rem;
    }
    .lte h5{
        font-size: 1.1rem;
    }
    .lte-form .lte-reason, .agreement, .file-upload{
        font-size: 1rem;
    }
    .lte-reason, .file-upload{
        width: 100%;
        gap: 0;
    }
    .lte-reason .rad{
        margin-bottom: 15px;
    }
    .form-body{
        padding: 30px;
    }
    .form-body .file-upload {
        margin-left: 0;
    }
    .agreement{
        padding: 0 30px;
    }
    .agreement input[type="checkbox"], .lte-reason input[type="radio"]{
        transform: scale(1.1);
        margin-right: 10px;
    }
}
@media only screen and (max-width: 1024px) {
    .ctn-main{
        padding: 20px 40px;
    }
    .file-upload {
        margin-left: 150px;
    }
    .form-body{
        padding: 40px;
    }
}
@media only screen and (max-width: 1200px) {
    .ctn-main{
        padding: 20px 50px;
    }
    .lte{
        width: 90%;
    }
    .lte-form{
        width: 90%;
        margin-top: 20px;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ctn-main{
    padding: 20px 90px;
    
}

.ctn-main .goback{
    text-decoration: none;
    color: #1a5319;
    font-size: 1.1rem;
}

.ctn-main .title{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    margin: 25px 0;
}

.ctn-main .title-desc{
    font-size: 1.1rem;
}

.attendance-dashboard, .status{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: auto;
    padding: 30px;
}

.total-attendance, .total-tardiness, .total-absences{
    border-radius: 10px;
    width: 300px;
    text-align: center;
    padding: 15px 30px;
    background-color: #2e7c55;
}

.total-attendance h5, .total-tardiness h5, .total-absences h5{
    font-weight: bold;
    color: #fff;
}

.total-attendance h4, .total-tardiness h4, .total-absences h4{
    margin-top: 10px;
    font-weight: bold;
    color: #d6efd8;
}

.status{
    font-weight: bold;
    font-size: 1.2rem;
}

.filter-status{
    display: flex;
    gap: 40px;
}

.filter-btn{
    border: 2px solid #bfbfbf;
    padding: 5px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
}

.filter-btn:active{
    background-color: #2e7c55;
    color: #fff;
}

.class-img img{
    height: auto;
    width: 200px;
}

.attendance-card{
    display: flex;
    width: 90%;
    gap: 50px;
    flex-wrap: wrap;
    margin: auto;
    padding: 30px;
    background-color: #d6efd8;
    border-radius: 10px;
}

.attendance-details{
    width: 75%;
    margin: auto;
}

.topic h5{
    padding: 0 30px;
    font-weight: 600;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: auto;
    padding: 30px;
    font-size: 1.1rem;
}

.search-container {
    display: flex;
    justify-content: center; 
    position: relative;
    /* margin-top: 20px;  */
}

.search-container i{
    position: absolute;
    top: 30%;
    left: 5%;
    color: gray;
}

.search-input {
    width: 100%; 
    padding: 10px 40px 10px 15px; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
    text-indent: 30px;
    outline: none;  
    transition: border-color 0.3s; 
}

.search-input:focus {
    border-color: #4CAF50; 
}


@media only screen and (max-width: 768px) {
    .search-container {
        width: 100%;
    }
    .filter-status{
        flex-direction: column;
        gap: 20px;
    }
    .filter-status p{
        margin: 0;
        font-size: 1.1rem;
    }
    .status{
        flex-direction: column;
        font-size: 1rem;
    }
    .filter-btn{
        margin-bottom: 5px;
    }
    .attendance-details{
        width: 100%;
    }
    .topic h5{
        padding: 0;
        text-align: center;
    }
    .details{
        gap: 0;
        flex-direction: column;
        padding: 20px 20px 0;
        font-size: 1rem;
    }
}
@media only screen and (max-width: 1024px) {
    .ctn-main{
        padding: 20px 70px;   
    }
    
    .attendance-dashboard{
        width: 100%;
       flex-direction: column;
    }
    .class-img img{
        width: auto;
        height: 150px;
    }
}
@media only screen and (max-width: 1200px) {
    .attendance-dashboard, .status{
        width: 100%;
        gap: 20px;
        padding: 20px;
    }
    .filter-status{
        gap: 30px;
    }
    .search-input {
        padding: 10px 30px 10px 10px; 
    }
    .total-attendance, .total-tardiness, .total-absences{
        width: 250px;
        padding: 15px 20px;
    }
    .attendance-card{
        width: 100%;
        gap: 30px;
    }
    .attendance-details{
        width: 75%;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ctn-main{
    padding: 20px 90px;
}

.ctn-main .goback{
    text-decoration: none;
    color: #1a5319;
    font-size: 1.1rem;
}

.ctn-main .title{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    margin: 25px 0;
}

.sc-info{
    background-color: rgb(191, 191, 191, .3);
    border-radius: 10px;
}

.sc-info-1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;                   
    flex-wrap: wrap; 
    padding: 20px 40px;
    background-color: #2e7c55;
    border-radius: 10px;
}

.sc-info-1 .text{
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
}

.sc-info-1 .text span{
    background-color: #c1ff72;
    color: #000;
    padding: 5px;
    border-radius: 10px;
}

.sc-info-2{
    padding: 20px 40px;
}

.sc-info-2 .text{
    color: #1a5319;
    font-size: 1.2rem;
}

.overview-graph{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; 
    padding: 20px 40px;
    margin-top: 20px;
}

.overview-graph .card1, .card2{
    width: 600px;
    background-color: #d6efd8;
    border: 1px solid #1a5319;
    border-radius: 10px;
    padding: 30px;
}

.sc-renewal h4{
    text-align: center;
    font-weight: bolder;
    color: #1a5319;
    background-color: rgb(142, 183, 156, .5);
    padding: 20px 50px;
    border-radius: 10px;
}

.sub-title{
    color: #1a5319;
    font-weight: bolder;
    font-size: 1.6rem;
    margin: 30px 0;
}

.status{
    display: flex;
    gap: 40px;
}

.filter-btn{
    border: 2px solid #bfbfbf;
    padding: 5px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

.filter-btn:active{
    background-color: #2e7c55;
    color: #fff;
}

.ctn-table{
    margin-bottom: 50px;
    font-size: 1.1rem;
}

.table thead tr th{
    background-color: #1a5319;
    color: #fff;
}

.table tr td{
    text-align: center;
    padding: 15px;
}

.table-title{
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-submit{
    background-color: #8bc34a;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    transition: 0.3s ease;
}

.btn-submit:hover{
    background-color: #1a5319;
}

#view, #cancel{
    text-decoration: none;
    background-color: #56a72e;
    color: #fff;
    font-weight: bold;
    padding: 5px 50px;
    border-radius: 20px;
    transition: 0.3s ease;
}

#view:hover, #cancel:hover{
    background-color: gray;
}

@media only screen and (max-width: 768px) {
    .ctn-main{
        padding: 20px 60px;
    }
    .sc-info-2 .text p, .filter-btn, .ctn-table{
        font-size: 1rem;
    }
    .sub-title{
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 1024px) {
    .overview-graph .card1, .card2{
        margin: auto;
    }
}
@media only screen and (max-width: 1200px) {
    .overview-graph{
        padding: 20px;
    }
    .overview-graph .card1, .card2{
        width: 450px;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ctn-main{
    padding: 20px 90px;
}

.ctn-main .goback{
    text-decoration: none;
    color: #1a5319;
    font-size: 1.1rem;
}

.ctn-main .title{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    margin: 20px 0;
}

.btn-edit{
    background-color: #8bc34a;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    transition: 0.3s ease;
}

.btn-edit:hover{
    background-color: #1a5319;
}

.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-view{
    width: 100%;
    margin: auto;
    border: 1px solid #8eb79c;
    background-color: #eaebea;
    border-radius: 10px;
    padding: 30px;
}

.profile-info{
    margin-bottom: 10px;
}

.profile-info h4{
    background-color: #1a5319;
    color: #d6efd8;
    font-weight: bold;
    padding: 10px;
}

.profile-info .info{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px; 
    align-items: center; 
    padding: 10px;
}

.label {
    text-align: left; 
    margin-bottom: 5px;
}

.profile-info span{
    color: #1e5430;
    font-weight: bold;
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    .ctn-main{
        padding: 20px 50px;
    }
    .profile-info h4{
        font-size: 1.1rem;
    }
}
