.groupA {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.groupA1 {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.searchbar {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #2e7c55;
    max-height: fit-content;
}

#insearch {
    border: none;
    background-color: #d6efd8;
    padding: 3px 5px;
    outline: none;
    width: 265px;
    height: 35px;
}

#insearch::placeholder {
    color: #2e7c55;
}

#insearch:focus {
    outline: 2px solid #2e7c55;
}

#btnsearch {
    border: 1px solid #2e7c55;
    background-color: #2e7c55;
    width: 35px;
    height: 35px;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all ease 0.3s;
}

#btnsearch:hover {
    background-color: #d6efd8;
    border: 1px solid #d6efd8;
    color: #2e7c55;
}

#btnback {
    text-decoration: none;
    color: #2e7c55;
    border: 2px solid #2e7c55;
    background-color: #d6efd8;
    padding: 5px 10px;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    transition: all ease 0.3s;
}

#btnback:hover {
    background-color: #2e7c55;
    color: #fff;
}