@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial;
}

.ctn-main{
    width: 90%;
    margin: auto;
}

.ctn-main .goback{
    text-decoration: none;
    color: #1a5319;
    font-size: 15px;
}

.ctn-main .title{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    margin: 25px 0;
}

.sallowance{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.btn-request{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    height: 100px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    background-color: #749871;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition:0.3s ease;
}

.btn-request:hover {
    background-color: #56a72e;
}

.status{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.filter-btn {
    font-size: 14px;
    border: 2px solid #bfbfbf;
    padding: 3px 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

.filter-btn:active {
    background-color: #2e7c55;
    color: #fff;
}

.table{
    font-size: 15px;
    margin-bottom: 50px;
}

.table-title{
    font-weight: bold;
    font-size: large;
    padding: 0;
}

.table-bordered th, .table-bordered td {
    text-align: center;
    vertical-align: middle;
}

.table-bordered th{
    background-color: #1a5319;
    color: #fff;
}

.btn-view{
    text-decoration: none;
    padding: 5px 15px;
    background-color: #56a72e;
    color: #fff;
    border-radius: 20px;
    transition: 0.3s ease;
}

.btn-view:hover{
    background-color: #1a5319;
}

.request-view{
    width: 70%;
    margin: auto;
    border: 1px solid #fff;
}

.request-stat{
    background-color: #ffde59;
    font-weight: bold;
    padding: 10px;
    width: 150px;
    text-align: center;
    float: right;
    border-radius: 10px;
    margin: 0 30px;
}

.request-info{
    border: 1px solid #8eb79c;
    background-color: #eaebea;
    border-radius: 10px;
    margin: 50px 30px;
    padding: 20px;
}

.request-info h5{
    background-color: #1a5319;
    color: #d6efd8;
    font-weight: bold;
    padding: 8px;
}

.request-info .info{
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 10px; 
    align-items: center; 
    padding: 10px;
    font-size: 15px;
}

.label {
    text-align: left; 
    margin-bottom: 5px;
}

.request-info span{
    color: #1e5430;
    font-weight: bold;
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    .ctn-main{
        width: 90%;
    }
    .status{
        gap: 0;
    }
    .filter-btn {
        font-size: 13px;
    }
    .table{
        font-size: 14px;
    }
    .btn-request{
        padding: 5px 10px;
        height: auto;
        width: 100%;
        font-size: 15px;
    }
    .request-stat{
        padding: 10px;
        width: 100px;
        margin: 0;
    }
    .request-info{
        padding: 10px;
        margin: 50px 0;
    }
    .request-info h5{
        font-size: 17px;
        padding: 8px;
    }
    .request-info .info{
        display: block;
        font-size: 14px;
    }
    .request-info span{
        margin-left: 0;
    }
    .label {
        margin-bottom: 0;
    }
    .value{
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 1024px) {
    .request-view{
        width: 100%;
    }
}


