/* FONTS IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

.group1 {
    display: flex;
    flex-wrap: wrap;
}

.group1 h1 {
    font-family: 'League Spartan', Arial;
    font-size: 32px;
    font-weight: bold;
    color: #1a5319;
    margin: auto 10px auto 0;
}

.group2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
}

#insearch,
#btncreateannouncement {
    width: 300px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #1a5319;
}

#insearch {
    background: #d6efd8;
    color: #1a5319;
    border-radius: 8px;
}

#insearch::placeholder {
    color: #1a5319;
}

#insearch:focus {
    border: none;
}

#btncreateannouncement {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background: #1a5319;
    border-radius: 100px;
    transition: all 0.3s ease;
}

#btncreateannouncement:hover {
    background: #d6efd8;
    color: #1a5319;
    border: 1px solid #d6efd8;
}

#ctnannouncementform {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #2e7c55;
}

/* PAD | TABLET | MOBILE */
@media only screen and (max-width: 1024px) {
    #ctnannouncementform {
        width: 80%;
    }
}

/* LAPTOP */
@media only screen and (min-width: 1025px) {
    #ctnannouncementform {
        width: 50%;
    }
}

.groupA {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2e7c55;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    border: none;
}

#btnhideannouncement {
    background: transparent;
    border: none;
    display: flex;
}

#btnhideannouncement i {
    margin: auto 0;
    color: #fff;
    font-size: 20px;
}

#btnhideannouncement i:hover {
    color: #c62121;
}

.groupB {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px;
    row-gap: 10px;
    background: #fff;
}

.groupB1 {
    display: flex;
    flex-direction: column;
}

.lbloption {
    font-weight: bold;
    color: #000;
    font-size: 16px;
}

.formoptions {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.formoptions label {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    row-gap: 3px;
    cursor: pointer;
    font-size: 16px;
}

.formoptions div {
    padding-left: 20px;
}

.formoptions div input[type='text'] {
    border: 1px solid #909090;
    font-size: 14px;
    padding: 2px 5px;
    width: 100%;
}

.groupB2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.groupB2 input {
    border: 1px solid #909090;
    font-size: 14px;
    padding: 2px 5px;
}

/* MOBILE */
@media only screen and (max-width: 768px) {
    .groupB2 input {
        width: 100%;
    }
}

/* PAD | TABLET */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .groupB2 input {
        width: 85%;
    }
}

/* DESKTOP */
@media only screen and (min-width: 1025px) {
    .groupB2 input {
        width: 90%;
    }
}

.groupB3 {
    display: flex;
    flex-direction: column;
}

.groupB3 textarea {
    width: 100%;
    padding: 5px;
    min-height: 200px;
    max-height: 300px;
    border: 1px solid #909090;
    font-size: 14px;
}

#btnpost {
    border: 1px solid #2e7c55;
    border-radius: 50px;
    background: #d6efd8;
    color: #2e7c55;
    font-weight: bold;
    padding: 5px 15px;
    width: fit-content;
    margin-left: auto;
}