body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
.container .goback {
    text-decoration: none;
    color: #1a5319;
    font-size: 1.1rem;
}
.container {
    background-color: #ffffff;
    max-width: 1000px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.logo {
    height: 50px;
}

.container .title{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    margin: 25px 0;
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="file"] {
    padding: 5px;
}

input:focus {
    border-color: #4CAF50;
    outline: none;
}

.submit-btn {
    grid-column: span 2;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #45a049;
}

/* Ensure the form container is centered and well-spaced */
.main-content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* Flexbox adjustments for the main layout */
@media only screen and (max-width: 768px) {
    .container {
        padding: 20px;
        max-width: 95%;
    }
    
    form {
        grid-template-columns: 1fr;
    }

    .logo {
        height: 40px;
    }
}
@media only screen and (max-width: 768px) {
    .submit-btn {
        grid-column: span 1; /* Adjust button width for mobile */
    }
}
