<!DOCTYPE html>

<html lang="en">

<head>
    <title>Scholars Overview</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="styles/style.css" rel="stylesheet" />
    <link href="styles/scholars.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- PAGE HEADER -->
    <div id="pageheader"></div>

    <div class="ctnmain">
        <span class="pagetitle">Scholars Overview</span>
        <div class="groupA">
            <div class="groupA1">
                <span id="lbltotalscholars" class="label">Total of Scholars</span>
                <span id="outtotalscholars" class="data">0</span>
            </div>
            <div class="groupA1">
                <span id="lbltotalscholars" class="label">Total of New Scholars</span>
                <span id="outtotalscholars" class="data">0</span>
            </div>
            <div class="groupA1">
                <span id="lbltotalscholars" class="label">Scholars per Area</span>
                <span id="outtotalscholars" class="data">0</span>
            </div>
            <div class="groupA1">
                <span id="lbltotalscholars" class="label">Scholars Admitted per Area</span>
                <span id="outtotalscholars" class="data">0</span>
            </div>
            <div class="groupA1">
                <span id="lbltotalscholars" class="label">Scholars per School</span>
                <span id="outtotalscholars" class="data">0</span>
            </div>
            <div class="groupA1">
                <span id="lbltotalscholars" class="label">Scholars per School Level</span>
                <span id="outtotalscholars" class="data">0</span>
            </div>
        </div>
        <div class="divider"></div>
        <span class="pagetitle">List of Scholars</span>
        <span class="lblinstruction">Select which list to view:</span>
        <div class="groupB">
            <a href="listcollege.html" class="groupB1">
                College
                <i class="fa-solid fa-arrow-right"></i>
            </a>
            <a href="listhighschool.html" class="groupB1">
                High School
                <i class="fa-solid fa-arrow-right"></i>
            </a>
            <a href="listelementary.html" class="groupB1">
                Elementary
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>


    <!-- DISPLAY SIDEBAR THAT IS IN ANOTHER FILE -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch('pageheader.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('pageheader').innerHTML = data;
                });
        });
    </script>
    <script src="scripts/headercontrol.js"></script>
    <script src="scripts/toggleannouncementform.js"></script>
</body>

</html>